*{
    margin: 0;
    padding: 0;
    border: 2px solid black;
}
.table{
    margin: 0 auto;
    font-size: larger;
   
}
.head tr, th{
    
    
    border-color: black;
  
    
   
    
}
.nombre{
    background-color: aquamarine;
    text-align: left;
    border: 40% solid black;
   
}
.semestre{
    background-color: aquamarine;
    text-align: left;
    
}



.body tr, td{
    background-color: rgb(145, 255, 0);
   
    text-align: left;
    

}
.foot td{
    text-align: center;
}