*{
    margin: 0;
    padding: 0;
    
}
.table{
    margin: 0 auto;
    font-size: larger;
    border: 2px solid black;
   
}
.head tr, th{
    border-color: black;
    border: 2px solid black;
}
.Notas{
    background-color: #E8C83A;
}
.nombre{
    background-color:#F0B93D ;
    text-align: left;
    
   
}
.semestre{
    background-color: #F0B93D;
    text-align: left;
    
}



.body tr, td{
    background-color: #DB9B42;
   
    text-align: left;
    border: 2px solid black;
    

}
.foot td{
    text-align: center;
    border: 2px solid black;
}
.def{
    width: 20%;
    background-color: #D46B24;
}